.reddit-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}

.reddit-item img {
  width: 60px;
  height: auto;
  padding-right: 1em;
}

.reddit-general-item {
  background-color: black;
  color: white;
}

.paddle{
  padding-bottom: 0.5em;
}

.comment{
  float: right;
  color: orange;
}





